#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#input-container {
  margin-top: 3em;
  margin-bottom: 3em;
}

.title {
  background-color: #f7da21;
}

.result {
  font-size: x-large;
}

.required {
  /* background-color: #f7da21; */
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #f7da21;
}

.input-cell {
  background-color: #e6e6e6;

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: xx-large;

  width: 50px;
  height: 50px;

  outline: none;
  border-color: transparent;
  background-color: #e6e6e6;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.input-cell:first-child {
  background-color: #f7da21;
}
